<ion-view view-title="{{ticket.id}} - {{ticket.titulo}}">
    <ion-content class="padding">
        <div class="card">
            <label class="card-header">{{ticket.id}} - {{ticket.titulo}}</label>
            <div class="row">
                <div class="col"><b>Empresa:</b></div>
                <div class="col col-75">{{data.empresa}}</div>
            </div>
            <div class="row">
                <div class="col"><b>Fecha:</b></div>
                <div class="col">{{ticket.fecha}}</div>
                <div class="col"><b>Reportó:</b></div>
                <div class="col">{{ticket.reporto}}</div>
            </div>
            <div class="row">
                <div class="col"><b>Estatus:</b></div>
                <div class="col">{{ticket.estatus}}</div>
                <div class="col"><b>Update:</b></div>
                <div class="col">{{ticket.update}}</div>
            </div>
        </div>

        <div class="card">
            <label class="card-header">Descripción</label>
            <div class="item item-text-wrap">
                {{ticket.descripcion}}
            </div>
        </div>

        <div class="card" title="Comentarios">
            <label class="card-header">Comentarios</label>
            <div class="item item-text-wrap">
                {{ticket.comentarios}}
            </div>
        </div>
    </ion-content>
</ion-view>